<% if books.any? %>
    <% books.each_slice(3) do |books| %>
      <div class="card-deck mt-3">
        <% books.each do |book| %>
          <div class="card text-white bg-dark">
              <div class="card-body">
                <h5 class="card-title"><%= book.name %></h5>

                <p class="card-text">by <%= book.author_name %> - <%= book.isbn %></p>
                <p class="card-text small"><%= truncate book.description, 250 %></p>
              </div>
              <div class="card-footer">
                <% book.tags.each do |tag| %>
                  <span class="badge badge-light"><%= tag %></span>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>
